<form>
    <div class="form-group">
        <label for="nombreApellido">Nombre y Apellido</label>
        <input type="text" class="form-control no-border" id="nombreApellido" aria-describedby="emailHelp"
            placeholder="">

    </div>
    <div class="form-group">
        <label for="numeroId">N° Identificacion</label>
        <input type="text" class="form-control no-border" id="numeroId">


    </div>
    <div class="form-group">
        <label for="celular">Celular</label>
        <input type="text" class="form-control no-border" id="celular">

    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control no-border" id="email">

    </div>

    <div class="form-group">
        <label for="empresa">Empresa</label>
        <input type="text" class="form-control no-border" id="empresa">

    </div>



    <button type="submit" class="btn btn-primary">Submit</button>
</form>